 
<div>
    <input type="number" name="searchId" #locationId [(ngModel)]="locId"/>
    <button (click)="findInventoryAtLocation(locationId.value)" [(ngModel)]="locationId.value">Show Inventory</button> 
</div>

<button type="button" (click)="goBack()">Go back</button>

<app-storage-location [onChange]='locId'></app-storage-location>

<div *ngIf="inventoryList">
<table>
    <thead>
        <tr>
            <th>ItemID</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let invent of inventoryList">
            <td>{{invent.itemId}}</td>
            <td>{{invent.quantity}}</td>
        </tr>
    </tbody>
</table>
</div>

