<div>
    <input type="number" name="searchId" #itemId [(ngModel)]="item"/>
    <button (click)="findItem(itemId.value)" [(ngModel)]="itemId.value">Show Item</button> 
</div>

<div *ngIf="item">
    <table>
        <thead>
            <tr>
                <th>ItemID</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{item.itemId}}</td>
                <td>{{item.categoryName}}</td>
                <td>{{item.quantityTotal}}</td>
                <td>{{item.price}}</td>
                <td><button type="button" (click)="showUpdateForm()">Update</button></td>
                <td><button type="button">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="updateForm">
    <form [formGroup]="updateItemForm">
        <label for="item-id">ItemId</label>
        <input class="update-item" id="itemId" type="number" formControlName="itemId" />
        <label for="category-name">Category</label>
        <input class="update-item" id="category-name" type="string" formControlName="categoryName" />
        <label for="quantity">Amount</label>
        <input class="update-item" id="quantity" type="number" formControlName="quantityTotal" />
        <label for="price">Price</label>
        <input class="update-item" id="price" type="number" formControlName="price" />
        <button type="button" class="add-button" (click)="updateItemFromForm()">Submit</button>
    </form>
</div>
