<h2>Storage Locations</h2>

<div class="storage-location-list">  
    <table>
        <thead>
            <tr>
                <th class="table-item">LocationId</th>
                <th class="table-item">Type</th>
                <th class="table-item">Current Capacity</th>
                <th class="table-item">Total Capacity</th>
                <th class="table-item">Phone Number</th>
            </tr>
        </thead>
        <tbody *ngFor="let loc of storageLocations">
            <tr>
                <a routerLink="/inventory/{{loc.locationId}}"><td>{{loc.locationId}}</td></a>
                <td class="table-item">{{loc.type}}</td>
                <td class="table-item">{{loc.currentCapacity}}</td>
                <td class="table-item">{{loc.totalCapacity}}</td>
                <td class="table-item">{{loc.phoneNumber}}</td>
            </tr>
        </tbody>
    </table>
</div>