.table-item {
    border-bottom: 1px solid #ddd; /* adds underline to rows */
    padding: 8px; /* adds a little extra space between elements */
}
table {
    border-collapse: collapse; /* removes tiny white space between column underlines */
}
a {
    background-color: #1d0a74bd;
    color: white;
    text-align: justify;
    text-decoration: none; /* removes default underline */
    border: none; /* dont want any border lines */
    border-radius: 3px; /* slight rounded edge */
    padding: 7px 25px; /*background area to cover */
    display: inline-block; /* ???? */
    margin: 5px; /* blank space between elements */
}

* {
    font-family: Arial, Helvetica, sans-serif;
}