<h2>Storage Locations</h2>

<div class="storage-location-list">
    <a *ngFor="let loc of storageLocations" routerLink="/inventory/{{loc.locationId}}">
        <thead>
            <tr>
                <th>LocationId</th>
                <th>Type</th>
                <th>Current Capacity</th>
                <th>Total Capacity</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{loc.locationId}}</td>
                <td>{{loc.type}}</td>
                <td>{{loc.currentCapacity}}</td>
                <td>{{loc.totalCapacity}}</td>
                <td>{{loc.phoneNumber}}</td>
            </tr>
        </tbody>
    </a>
</div>