<br>
<form>
    <label for="inventory-id">ID</label>
    <input class="add-inventory" id="inventory-id" type="number" #inventoryId />
    <label for="item-id">Item ID</label>
    <input class="add-inventory" id="item-id" #itemId />
    <label for="location-id">Location ID</label>
    <input class="add-inventory" id="location-id" #locationId />
    <label for="quantity">Amount</label>
    <input class="add-inventory" id="quantity" #quantity />
    <button type="button" class="add-button" (click)="addInventoryFromForm(inventoryId.value, itemId.value, locationId.value, quantity.value)">Add item to location</button>
</form>